<div class="contact_form">

  <div class="formulario">      
    <h1>Login</h1>

        <form action="submeter-formulario.php" method="post">                   
              <p>
                <label for="email" class="colocar_email">Email
                  <span class="obligatorio">*</span>
                </label>
                  <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
              </p>
              <p>
                <label for="email" class="colocar_email">Password
                  <span class="obligatorio">*</span>
                </label>
                  <input type="password" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Password">
              </p>    
              <button type="submit" name="enviar_formulario" id="enviar"><p>Entrar</p></button>

              <p class="aviso">
                <span class="obligatorio"> * </span>los campos son obligatorios.
              </p>          
          
        </form>
  </div>  
</div>