<div class="contact_form">
    <h1>Noticia 1</h1>  
    <p>
    
Sm
MEDELLÍN
22 de septiembre 2021, 06:22 P. M.
Seguir
Medellín
Regístrate o inicia sesión para seguir tus temas favoritos.

Comentar
Guardar
Reportar
Portada
Tras la ola de críticas y acusaciones de las últimas semanas vía Twitter entre Álvaro Uribe y el alcalde de Medellín, Daniel Quintero, ahora el expresidente anunció que denunció a la Alcaldía de Medellín ante la Fiscalía General de la Nación.

PUBLICIDAD

Según Uribe, la administración de Quintero está empañada en varios hechos de corrupción que afectan a la capital antioqueña.

(Le puede interesar: Hallaron a dos bebés abandonados en una casa de Puerto Berrío, Antioquia)

Temas relacionados
Así va la atención a los niños del jardín infantil donde ocurrieron abusos
BUEN COMIENZO 10:00 P. M.
Así va la atención a los niños del jardín infantil donde ocurrieron abusos
Denuncian mal procedimiento en hoteles con pacientes de cirugías plásticas
CIRUGÍAS ESTÉTICAS 04:01 P. M.
Denuncian mal procedimiento en hoteles con pacientes de cirugías plásticas
Así puede acceder al Bono Alimentario en Medellín
MEDELLÍN 10:48 A. M.
Así puede acceder al Bono Alimentario en Medellín
PrevNext
1
2
Reciba noticias de EL TIEMPO desde Google News
“Procedo como simple ciudadano de esta comarca, que tengo esfuerzos de servidor público vinculados al Tren Metropolitano; a la Hidroeléctrica del Peñol; al Aeropuerto José Maria Córdova; a los túneles viales; a las autopistas que hoy avanzan en Antioquia, en la compañía del exministro Andrés Uriel Gallego y de la Cámara de Comercio de Medellín”, escribió Uribe en un comunicado.
    </p>
    <h1>Noticia 2</h1>  
    <p>
        
Sm
MEDELLÍN
22 de septiembre 2021, 06:22 P. M.
Seguir
Medellín
Regístrate o inicia sesión para seguir tus temas favoritos.

Comentar
Guardar
Reportar
Portada
Tras la ola de críticas y acusaciones de las últimas semanas vía Twitter entre Álvaro Uribe y el alcalde de Medellín, Daniel Quintero, ahora el expresidente anunció que denunció a la Alcaldía de Medellín ante la Fiscalía General de la Nación.

PUBLICIDAD

Según Uribe, la administración de Quintero está empañada en varios hechos de corrupción que afectan a la capital antioqueña.

(Le puede interesar: Hallaron a dos bebés abandonados en una casa de Puerto Berrío, Antioquia)

Temas relacionados
Así va la atención a los niños del jardín infantil donde ocurrieron abusos
BUEN COMIENZO 10:00 P. M.
Así va la atención a los niños del jardín infantil donde ocurrieron abusos
Denuncian mal procedimiento en hoteles con pacientes de cirugías plásticas
CIRUGÍAS ESTÉTICAS 04:01 P. M.
Denuncian mal procedimiento en hoteles con pacientes de cirugías plásticas
Así puede acceder al Bono Alimentario en Medellín
MEDELLÍN 10:48 A. M.
Así puede acceder al Bono Alimentario en Medellín
PrevNext
1
2
Reciba noticias de EL TIEMPO desde Google News
“Procedo como simple ciudadano de esta comarca, que tengo esfuerzos de servidor público vinculados al Tren Metropolitano; a la Hidroeléctrica del Peñol; al Aeropuerto José Maria Córdova; a los túneles viales; a las autopistas que hoy avanzan en Antioquia, en la compañía del exministro Andrés Uriel Gallego y de la Cámara de Comercio de Medellín”, escribió Uribe en un comunicado.
    </p>
    <h1>Noticia 2</h1>  
    <p>
        
Sm
MEDELLÍN
22 de septiembre 2021, 06:22 P. M.
Seguir
Medellín
Regístrate o inicia sesión para seguir tus temas favoritos.

Comentar
Guardar
Reportar
Portada
Tras la ola de críticas y acusaciones de las últimas semanas vía Twitter entre Álvaro Uribe y el alcalde de Medellín, Daniel Quintero, ahora el expresidente anunció que denunció a la Alcaldía de Medellín ante la Fiscalía General de la Nación.

PUBLICIDAD

Según Uribe, la administración de Quintero está empañada en varios hechos de corrupción que afectan a la capital antioqueña.

(Le puede interesar: Hallaron a dos bebés abandonados en una casa de Puerto Berrío, Antioquia)

Temas relacionados
Así va la atención a los niños del jardín infantil donde ocurrieron abusos
BUEN COMIENZO 10:00 P. M.
Así va la atención a los niños del jardín infantil donde ocurrieron abusos
Denuncian mal procedimiento en hoteles con pacientes de cirugías plásticas
CIRUGÍAS ESTÉTICAS 04:01 P. M.
Denuncian mal procedimiento en hoteles con pacientes de cirugías plásticas
Así puede acceder al Bono Alimentario en Medellín
MEDELLÍN 10:48 A. M.
Así puede acceder al Bono Alimentario en Medellín
PrevNext
1
2
Reciba noticias de EL TIEMPO desde Google News
“Procedo como simple ciudadano de esta comarca, que tengo esfuerzos de servidor público vinculados al Tren Metropolitano; a la Hidroeléctrica del Peñol; al Aeropuerto José Maria Córdova; a los túneles viales; a las autopistas que hoy avanzan en Antioquia, en la compañía del exministro Andrés Uriel Gallego y de la Cámara de Comercio de Medellín”, escribió Uribe en un comunicado.
    </p>
</div>
